<div id='google-frame-id' class="bg-color-for-body pb-5 text-center m-4">
  <iframe src="https://www.google.com/maps/embed?pb=!4v1602248022850!6m8!1m7!1snFR5tGiqDDSkIT_6gCFsJg!2m2!1d44.18390376102225!2d28.63977835033323!3f229.70808786416274!4f14.698492717475489!5f0.4000000000000002" 
  width="85%" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
</iframe>
</div>

<div id='iframe-indisponibil-id'>
  <div class="bg-vizualizare">
    <p class="border-0 font-text3 font-weight-bolder text-left bg-color-for-body btn btn-warning btn-block text-center">
       strada Mihai Viteazu nr. 69A, Constanța
    </p>
  </div>
  <div class="btnDiv col-12 p-1">
    <a class="btn btn-block btn btn-light btn-vezi-pe-maps" target="_blank" 
    href="https://www.google.com/maps/@44.1839038,28.6397784,0a,97.3y,229.71h,104.7t/data=!3m4!1e1!3m2!1snFR5tGiqDDSkIT_6gCFsJg!2e0?source=apiv3">
    Vezi pe Google Maps
    </a>
  </div>
</div>