@media screen and (max-width: 768px){
    #google-frame-id {  display: none;  }
    #iframe-indisponibil-id {  display: block; }
}

@media screen and (min-width: 768px){
    #google-frame-id {  display: block;  }
    #iframe-indisponibil-id {  display: none; }
}

  /* Landscape */
  @media only screen 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
      .btnDiv { display: none;  }
  }
  

@-webkit-keyframes opacityZeroToTen {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacityZeroToTen {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.bg-vizualizare { animation: 1s ease-out 0s 1 opacityZeroToTen; }
