<div class="bg-image-primary-building-main pb-5">
    <div class="firma-proiectare-div">
        <button class="btn btn-warning btn-block font-text">
            Firmă de proiectare construcții civile, industriale și agricole
        </button>
    </div>
    <br />
    <div [ngClass] = "{'container' : !mobileResolution }">
        <div class="pt-3 text-hide-lowres add-effect-text">
            <p class="font-text-xs p-2 bg-color-for-body border-0 rounded shadow-lg">
                Pro Consebi a fost înființat în 2004 de către ing. Otilia Dragu, ca un birou multidisciplinar, 
                dedicat creări de soluții arhitecturale inovatoare. Competența noastră profesională înglobează conceperea și detalierea unei 
                game largi de funcțiuni, de la proiecte rezidențiale individuale sau colective, spații de birouri, spații comerciale și amenajări de interior.
                Elaborarea proiectelor în cadrul Pro Consebi presupune menținerea unui proces interactiv și a unui dialog deschis 
                între proiectarea de arhitectură, client și colaboratorii de specialitate, pentru a asigura soluții de design 
                și execuție optime.
            </p>
        </div>
        <div class="pt-2 hide-bigres add-effect-text2">
            <p class="font-text-xs p-3 text-light bg-dark border-0 rounded shadow-lg">
                Pro Consebi a fost înființat în 2004 de către ing. Otilia Dragu, ca un birou multidisciplinar, 
                dedicat creări de soluții arhitecturale inovatoare.
                Competența noastră profesională înglobează conceperea și detalierea unei game largi de funcțiuni, 
                de la proiecte rezidențiale individuale sau colective, spații de birouri, spații comerciale și amenajări de interior.
                Elaborarea proiectelor în cadrul Pro Consebi presupune menținerea unui proces interactiv și a unui dialog deschis 
                între proiectarea de arhitectură, client și colaboratorii de specialitate, pentru a asigura soluții de design 
                și execuție optime.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row ">
          <div class="col-12 col-sm-6 p-2 font-text3 add-effect-btn btn-main-page"><a class="btn btn-lg btn-block btn-primary" routerLink='/proiecte'>Vezi construcții</a></div>
          <div class="col-12 col-sm-6 p-2 font-text3 add-effect-btn btn-main-page"><a class="btn btn-lg btn-block btn-secondary" routerLink='/design'>Vezi design interior</a></div>
          <!-- <div class="w-100"></div> -->
          <div class="col-12 col-sm-6 p-2 font-text3 btn-main-page"><a class="btn btn-lg btn-block btn-light add-effect-btn" routerLink='/vizualizare'>Unde ne găsești?</a></div>
          <div class="col-12 col-sm-6 p-2 font-text3 btn-main-page"><a class="btn btn-lg btn-block btn-danger add-effect-btn" routerLink='/contact'>Program de lucru</a></div>
        </div>
    </div>
</div>